.carousel {
    position: relative;
    width: 28vmin;
    height: 56vmin;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem;
}

@media screen and (max-width: 930px) {
    .carousel {
        width: 40vmin;
        height: 70vmin;
    }
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    position: absolute;
    background-color: #111111a0;
    text-align: center;
    height: 18px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.indicator-area {
    display: inline-block;
    width: 40px;
    height: 100%;
    margin: 0 5px;
    padding: 0 4px;
    cursor: pointer;
}

.indicator {
    margin-top: 8px;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background-color: #808080;
}

input[name="slide"] {
    display: none;
}


@keyframes slideAnimation1 {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    75% { transform: translateX(-200%); }
    100% { transform: translateX(-300%); }
}

@keyframes slideAnimation2 {
    0% { transform: translateX(-100%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}

@keyframes slideAnimation3 {
    0% { transform: translateX(-200%); }
    25% { transform: translateX(-200%); }
    50% { transform: translateX(-300%); }
    75% { transform: translateX(-400%); }
    100% { transform: translateX(-500%); }
}


@keyframes slideAnimation0 {
    0% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

#slide-1-1:checked ~ .carousel-inner { 
    transform: translateX(0);
    animation: slideAnimation1 18s infinite, slideAnimation0 0s infinite;
}
#slide-1-2:checked ~ .carousel-inner { 
    transform: translateX(-100%);
    animation: slideAnimation2 18s infinite, slideAnimation0 0s infinite;;
}
#slide-1-3:checked ~ .carousel-inner { 
    transform: translateX(-200%);
    animation: slideAnimation3 18s infinite, slideAnimation0 0s infinite;;
}

@keyframes indicatorAnimation {
    0% { background-color: #888; }
    20% { background-color: white; }
    100% { background-color: #bbb; }
}

#slide-1-1:checked ~ .carousel-indicators .indicator-area:nth-child(1) .indicator,
#slide-1-2:checked ~ .carousel-indicators .indicator-area:nth-child(2) .indicator,
#slide-1-3:checked ~ .carousel-indicators .indicator-area:nth-child(3) .indicator {
    animation: indicatorAnimation 3s;
    background-color: #bbb;
}

/*2*/
#slide-2-1:checked ~ .carousel-inner { 
    transform: translateX(0);
    animation: slideAnimation1 18s infinite, slideAnimation0 0s infinite;
}
#slide-2-2:checked ~ .carousel-inner { 
    transform: translateX(-100%);
    animation: slideAnimation2 18s infinite, slideAnimation0 0s infinite;;
}
#slide-2-3:checked ~ .carousel-inner { 
    transform: translateX(-200%);
    animation: slideAnimation3 18s infinite, slideAnimation0 0s infinite;;
}

#slide-2-1:checked ~ .carousel-indicators .indicator-area:nth-child(1) .indicator,
#slide-2-2:checked ~ .carousel-indicators .indicator-area:nth-child(2) .indicator,
#slide-2-3:checked ~ .carousel-indicators .indicator-area:nth-child(3) .indicator {
    animation: indicatorAnimation 3s;
    background-color: #bbb;
}

/*3*/
#slide-3-1:checked ~ .carousel-inner { 
    transform: translateX(0);
    animation: slideAnimation1 18s infinite, slideAnimation0 0s infinite;
}
#slide-3-2:checked ~ .carousel-inner { 
    transform: translateX(-100%);
    animation: slideAnimation2 18s infinite, slideAnimation0 0s infinite;;
}
#slide-3-3:checked ~ .carousel-inner { 
    transform: translateX(-200%);
    animation: slideAnimation3 18s infinite, slideAnimation0 0s infinite;;
}

#slide-3-1:checked ~ .carousel-indicators .indicator-area:nth-child(1) .indicator,
#slide-3-2:checked ~ .carousel-indicators .indicator-area:nth-child(2) .indicator,
#slide-3-3:checked ~ .carousel-indicators .indicator-area:nth-child(3) .indicator {
    animation: indicatorAnimation 3s;
    background-color: #bbb;
}

/*4*/
#slide-4-1:checked ~ .carousel-inner { 
    transform: translateX(0);
    animation: slideAnimation1 18s infinite, slideAnimation0 0s infinite;
}
#slide-4-2:checked ~ .carousel-inner { 
    transform: translateX(-100%);
    animation: slideAnimation2 18s infinite, slideAnimation0 0s infinite;;
}
#slide-4-3:checked ~ .carousel-inner { 
    transform: translateX(-200%);
    animation: slideAnimation3 18s infinite, slideAnimation0 0s infinite;;
}

#slide-4-1:checked ~ .carousel-indicators .indicator-area:nth-child(1) .indicator,
#slide-4-2:checked ~ .carousel-indicators .indicator-area:nth-child(2) .indicator,
#slide-4-3:checked ~ .carousel-indicators .indicator-area:nth-child(3) .indicator {
    animation: indicatorAnimation 3s;
    background-color: #bbb;
}

/*5*/
#slide-5-1:checked ~ .carousel-inner { 
    transform: translateX(0);
    animation: slideAnimation1 18s infinite, slideAnimation0 0s infinite;
}
#slide-5-2:checked ~ .carousel-inner { 
    transform: translateX(-100%);
    animation: slideAnimation2 18s infinite, slideAnimation0 0s infinite;;
}
#slide-5-3:checked ~ .carousel-inner { 
    transform: translateX(-200%);
    animation: slideAnimation3 18s infinite, slideAnimation0 0s infinite;;
}

#slide-5-1:checked ~ .carousel-indicators .indicator-area:nth-child(1) .indicator,
#slide-5-2:checked ~ .carousel-indicators .indicator-area:nth-child(2) .indicator,
#slide-5-3:checked ~ .carousel-indicators .indicator-area:nth-child(3) .indicator {
    animation: indicatorAnimation 3s;
    background-color: #bbb;
}