body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

section {
    scroll-margin: 80px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
footer p {
    font-size: 0.8rem;
    color: grey;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-family: 'Exo 2', sans-serif;
}



.primary-part-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 calc((100vw - 1300px) / 2) 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    height: min-content;
    align-self: center;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem ;
}




.part-description {
    display: flex;
    flex-direction: column;
    padding: 0 4vw;
}
.part-description h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}
.part-description p {
    font-size: 1.6rem;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}
.add-description {
    align-items: center;
    justify-content: center;
}
.add-description p {
    font-size: 1.2rem;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}




.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    padding-bottom: 2vw;
    gap: 1rem;
}
.text-in-column {
    max-width: 32%;
    flex: content;
}
.t-column-text {
    flex: content;
}

.column-l {
    flex-direction: column;
}
.column-r {
    flex-direction: column;
}

.s-column-l {
    flex-direction: row;
}
.s-column-r {
    flex-direction: row-reverse;
}


.column h2 {
    font-size: 1.4rem;
    margin: 0.5rem 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white
}
.column p {
    font-size: 1rem;
    margin: 0.5rem 1rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    margin-bottom: 2rem;
}



.secondary-part {
    display: flex;
    flex-direction: column;
    padding: 0 calc((100vw - 1300px) / 2);
}
.secondary-part-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    padding: 2vw;
}

.tertiary-part {
    display: flex;
    flex-direction: column;
    padding: 0 calc((100vw - 1300px) / 2);
}
.tertiary-part-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    padding: 2vw;
}


@media screen and (max-width: 930px) {
    .tertiary-part-container {
        grid-template-columns: 1fr;
    }

    .column {
        padding-bottom: 1vw;
    }
    .column-r {
        flex-direction: row;  
    }
    .column-l {
        flex-direction: row-reverse;
    }
    .text-in-column {
        max-width: none;
    }
    .t-column-text {
        max-width: 50%;
    }
    .s-column-l {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .s-column-r {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width: 768px) {
    .column-left h1 {
        font-size: 2.1rem;
    }
    .column-left p {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 768px) {
    .part-description h1 {
        font-size: 1.5rem;
    }
    .part-description p {
        font-size: 1.15rem;
    }
    .add-description p {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 460px) {

    .column-left h1 {
        font-size: 1.5rem;
    }
    .column-left p {
        font-size: 0.9rem;
    }

    .part-description h1 {
        font-size: 1.2rem;
    }
    .part-description p {
        font-size: 1rem;
    }
    .add-description p {
        font-size: 0.8rem;
    }

    .column h2 {
        font-size: 1.1rem;
    }
    .column p {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.7rem;
    }
}
